<robot name="">
    <link name="world"/>
    <!-- Joint & Link: trunk-B0L0 Branch Id:0 Level: 0, Child idx:0 )-->
<joint name="joint-world-trunk-B0L0" type="fixed">
        <parent link="world"/>
        <child link="link-trunk-B0L0"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        </joint>
    <link name="link-trunk-B0L0">
        <visual>
            <geometry>
                <cylinder length="1.5" radius="0.08"/>
            </geometry>
            <origin xyz="0 0 0.75" rpy="0 0 0"/>
            <material name="brown">
                <color rgba="0.1 0.2 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length="1.5" radius="0.08"/>
            </geometry>
            <origin xyz="0 0 0.75" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="1.508"/>
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
            <origin xyz="0 0 0.75" rpy="0 0 0"/>
        </inertial>
    </link>
<!-- Joint & Link: branch-B1L1P0 Branch Id:1 Level: 1, Child idx:0 )-->
<joint name="joint-trunk-B0L0-to-branch-B1L1P0" type="fixed">
        <parent link="link-trunk-B0L0"/>
        <child link="link-branch-B1L1P0"/>
        <origin xyz="0 0 1.49" rpy="-1.047 0.0 0"/>
        <axis xyz="-1 0 0"/>
        <limit lower="-0.349" upper="0.349"/>
        <dynamics damping="1.056" friction="0.0"/>
    </joint>
    <link name="link-branch-B1L1P0">
        <visual>
            <geometry>
                <cylinder length="0.8" radius="0.057"/>
            </geometry>
            <origin xyz="0 0 0.4" rpy="0 0 0"/>
            <material name="brown">
                <color rgba="0.1 0.2 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.8" radius="0.057"/>
            </geometry>
            <origin xyz="0 0 0.4" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="0.408"/>
            <inertia ixx="0.022" ixy="0" ixz="0" iyy="0.022" iyz="0" izz="0.001"/>
            <origin xyz="0 0 0.4" rpy="0 0 0"/>
        </inertial>
    </link>
<!-- Joint & Link: branch-B10L1P0 Branch Id:10 Level: 1, Child idx:1 )-->
<joint name="joint-trunk-B0L0-to-branch-B10L1P0" type="fixed">
        <parent link="link-trunk-B0L0"/>
        <child link="link-branch-B10L1P0"/>
        <origin xyz="0 0 1.49" rpy="1.047 0.0 0"/>
        <axis xyz="1 0 0"/>
        <limit lower="-0.349" upper="0.349"/>
        <dynamics damping="1.056" friction="0.0"/>
    </joint>
    <link name="link-branch-B10L1P0">
        <visual>
            <geometry>
                <cylinder length="0.8" radius="0.057"/>
            </geometry>
            <origin xyz="0 0 0.4" rpy="0 0 0"/>
            <material name="brown">
                <color rgba="0.1 0.2 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.8" radius="0.057"/>
            </geometry>
            <origin xyz="0 0 0.4" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="0.408"/>
            <inertia ixx="0.022" ixy="0" ixz="0" iyy="0.022" iyz="0" izz="0.001"/>
            <origin xyz="0 0 0.4" rpy="0 0 0"/>
        </inertial>
    </link>
<!-- Joint & Link: branch-B19L1P0 Branch Id:19 Level: 1, Child idx:2 )-->
<joint name="joint-trunk-B0L0-to-branch-B19L1P0" type="fixed">
        <parent link="link-trunk-B0L0"/>
        <child link="link-branch-B19L1P0"/>
        <origin xyz="0 0 1.49" rpy="0.0 -1.047 0"/>
        <axis xyz="0 -1 0"/>
        <limit lower="-0.349" upper="0.349"/>
        <dynamics damping="1.056" friction="0.0"/>
    </joint>
    <link name="link-branch-B19L1P0">
        <visual>
            <geometry>
                <cylinder length="0.8" radius="0.057"/>
            </geometry>
            <origin xyz="0 0 0.4" rpy="0 0 0"/>
            <material name="brown">
                <color rgba="0.1 0.2 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.8" radius="0.057"/>
            </geometry>
            <origin xyz="0 0 0.4" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="0.408"/>
            <inertia ixx="0.022" ixy="0" ixz="0" iyy="0.022" iyz="0" izz="0.001"/>
            <origin xyz="0 0 0.4" rpy="0 0 0"/>
        </inertial>
    </link>
<!-- Joint & Link: branch-B28L1P0 Branch Id:28 Level: 1, Child idx:3 )-->
<joint name="joint-trunk-B0L0-to-branch-B28L1P0" type="revolute">
        <parent link="link-trunk-B0L0"/>
        <child link="link-branch-B28L1P0"/>
        <origin xyz="0 0 1.49" rpy="0.0 1.047 0"/>
        <axis xyz="0 1 0"/>
            <limit lower="-0.5" upper="0.5"/>
<!--        <limit lower="-0.349" upper="0.349"/>-->
        <dynamics damping="1.056" friction="0.0"/>
    </joint>
    <link name="link-branch-B28L1P0">
        <visual>
            <geometry>
                <cylinder length="0.8" radius="0.057"/>
            </geometry>
            <origin xyz="0 0 0.4" rpy="0 0 0"/>
            <material name="brown">
                <color rgba="0.1 0.2 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.8" radius="0.057"/>
            </geometry>
            <origin xyz="0 0 0.4" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="0.408"/>
            <inertia ixx="0.022" ixy="0" ixz="0" iyy="0.022" iyz="0" izz="0.001"/>
            <origin xyz="0 0 0.4" rpy="0 0 0"/>
        </inertial>
    </link>
<!-- Joint & Link: branch-B2L2P1 Branch Id:2 Level: 2, Child idx:0 )-->
<joint name="joint-branch-B1L1P0-to-branch-B2L2P1" type="fixed">
        <parent link="link-branch-B1L1P0"/>
        <child link="link-branch-B2L2P1"/>
        <origin xyz="0 0 0.79" rpy="-1.047 0.0 0"/>
        <axis xyz="-1 0 0"/>
        <limit lower="-0.349" upper="0.349"/>
        <dynamics damping="0.162" friction="0.0"/>
    </joint>
    <link name="link-branch-B2L2P1">
        <visual>
            <geometry>
                <cylinder length="0.64" radius="0.04"/>
            </geometry>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
            <material name="brown">
                <color rgba="0.1 0.2 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.64" radius="0.04"/>
            </geometry>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="0.161"/>
            <inertia ixx="0.006" ixy="0" ixz="0" iyy="0.006" iyz="0" izz="0.0"/>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
        </inertial>
    </link>
<!-- Joint & Link: branch-B4L2P1 Branch Id:4 Level: 2, Child idx:1 )-->
<joint name="joint-branch-B1L1P0-to-branch-B4L2P1" type="fixed">
        <parent link="link-branch-B1L1P0"/>
        <child link="link-branch-B4L2P1"/>
        <origin xyz="0 0 0.79" rpy="1.047 0.0 0"/>
        <axis xyz="1 0 0"/>
        <limit lower="-0.349" upper="0.349"/>
        <dynamics damping="0.162" friction="0.0"/>
    </joint>
    <link name="link-branch-B4L2P1">
        <visual>
            <geometry>
                <cylinder length="0.64" radius="0.04"/>
            </geometry>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
            <material name="brown">
                <color rgba="0.1 0.2 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.64" radius="0.04"/>
            </geometry>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="0.161"/>
            <inertia ixx="0.006" ixy="0" ixz="0" iyy="0.006" iyz="0" izz="0.0"/>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
        </inertial>
    </link>
<!-- Joint & Link: branch-B6L2P1 Branch Id:6 Level: 2, Child idx:2 )-->
<joint name="joint-branch-B1L1P0-to-branch-B6L2P1" type="fixed">
        <parent link="link-branch-B1L1P0"/>
        <child link="link-branch-B6L2P1"/>
        <origin xyz="0 0 0.79" rpy="0.0 -1.047 0"/>
        <axis xyz="0 -1 0"/>
        <limit lower="-0.349" upper="0.349"/>
        <dynamics damping="0.162" friction="0.0"/>
    </joint>
    <link name="link-branch-B6L2P1">
        <visual>
            <geometry>
                <cylinder length="0.64" radius="0.04"/>
            </geometry>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
            <material name="brown">
                <color rgba="0.1 0.2 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.64" radius="0.04"/>
            </geometry>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="0.161"/>
            <inertia ixx="0.006" ixy="0" ixz="0" iyy="0.006" iyz="0" izz="0.0"/>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
        </inertial>
    </link>
<!-- Joint & Link: branch-B8L2P1 Branch Id:8 Level: 2, Child idx:3 )-->
<joint name="joint-branch-B1L1P0-to-branch-B8L2P1" type="fixed">
        <parent link="link-branch-B1L1P0"/>
        <child link="link-branch-B8L2P1"/>
        <origin xyz="0 0 0.79" rpy="0.0 1.047 0"/>
        <axis xyz="0 1 0"/>
        <limit lower="-0.349" upper="0.349"/>
        <dynamics damping="0.162" friction="0.0"/>
    </joint>
    <link name="link-branch-B8L2P1">
        <visual>
            <geometry>
                <cylinder length="0.64" radius="0.04"/>
            </geometry>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
            <material name="brown">
                <color rgba="0.1 0.2 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.64" radius="0.04"/>
            </geometry>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="0.161"/>
            <inertia ixx="0.006" ixy="0" ixz="0" iyy="0.006" iyz="0" izz="0.0"/>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
        </inertial>
    </link>
<!-- Joint & Link: branch-B11L2P10 Branch Id:11 Level: 2, Child idx:0 )-->
<joint name="joint-branch-B10L1P0-to-branch-B11L2P10" type="fixed">
        <parent link="link-branch-B10L1P0"/>
        <child link="link-branch-B11L2P10"/>
        <origin xyz="0 0 0.79" rpy="-1.047 0.0 0"/>
        <axis xyz="-1 0 0"/>
        <limit lower="-0.349" upper="0.349"/>
        <dynamics damping="0.162" friction="0.0"/>
    </joint>
    <link name="link-branch-B11L2P10">
        <visual>
            <geometry>
                <cylinder length="0.64" radius="0.04"/>
            </geometry>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
            <material name="brown">
                <color rgba="0.1 0.2 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.64" radius="0.04"/>
            </geometry>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="0.161"/>
            <inertia ixx="0.006" ixy="0" ixz="0" iyy="0.006" iyz="0" izz="0.0"/>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
        </inertial>
    </link>
<!-- Joint & Link: branch-B13L2P10 Branch Id:13 Level: 2, Child idx:1 )-->
<joint name="joint-branch-B10L1P0-to-branch-B13L2P10" type="fixed">
        <parent link="link-branch-B10L1P0"/>
        <child link="link-branch-B13L2P10"/>
        <origin xyz="0 0 0.79" rpy="1.047 0.0 0"/>
        <axis xyz="1 0 0"/>
        <limit lower="-0.349" upper="0.349"/>
        <dynamics damping="0.162" friction="0.0"/>
    </joint>
    <link name="link-branch-B13L2P10">
        <visual>
            <geometry>
                <cylinder length="0.64" radius="0.04"/>
            </geometry>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
            <material name="brown">
                <color rgba="0.1 0.2 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.64" radius="0.04"/>
            </geometry>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="0.161"/>
            <inertia ixx="0.006" ixy="0" ixz="0" iyy="0.006" iyz="0" izz="0.0"/>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
        </inertial>
    </link>
<!-- Joint & Link: branch-B15L2P10 Branch Id:15 Level: 2, Child idx:2 )-->
<joint name="joint-branch-B10L1P0-to-branch-B15L2P10" type="fixed">
        <parent link="link-branch-B10L1P0"/>
        <child link="link-branch-B15L2P10"/>
        <origin xyz="0 0 0.79" rpy="0.0 -1.047 0"/>
        <axis xyz="0 -1 0"/>
        <limit lower="-0.349" upper="0.349"/>
        <dynamics damping="0.162" friction="0.0"/>
    </joint>
    <link name="link-branch-B15L2P10">
        <visual>
            <geometry>
                <cylinder length="0.64" radius="0.04"/>
            </geometry>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
            <material name="brown">
                <color rgba="0.1 0.2 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.64" radius="0.04"/>
            </geometry>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="0.161"/>
            <inertia ixx="0.006" ixy="0" ixz="0" iyy="0.006" iyz="0" izz="0.0"/>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
        </inertial>
    </link>
<!-- Joint & Link: branch-B17L2P10 Branch Id:17 Level: 2, Child idx:3 )-->
<joint name="joint-branch-B10L1P0-to-branch-B17L2P10" type="fixed">
        <parent link="link-branch-B10L1P0"/>
        <child link="link-branch-B17L2P10"/>
        <origin xyz="0 0 0.79" rpy="0.0 1.047 0"/>
        <axis xyz="0 1 0"/>
        <limit lower="-0.349" upper="0.349"/>
        <dynamics damping="0.162" friction="0.0"/>
    </joint>
    <link name="link-branch-B17L2P10">
        <visual>
            <geometry>
                <cylinder length="0.64" radius="0.04"/>
            </geometry>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
            <material name="brown">
                <color rgba="0.1 0.2 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.64" radius="0.04"/>
            </geometry>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="0.161"/>
            <inertia ixx="0.006" ixy="0" ixz="0" iyy="0.006" iyz="0" izz="0.0"/>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
        </inertial>
    </link>
<!-- Joint & Link: branch-B20L2P19 Branch Id:20 Level: 2, Child idx:0 )-->
<joint name="joint-branch-B19L1P0-to-branch-B20L2P19" type="fixed">
        <parent link="link-branch-B19L1P0"/>
        <child link="link-branch-B20L2P19"/>
        <origin xyz="0 0 0.79" rpy="-1.047 0.0 0"/>
        <axis xyz="-1 0 0"/>
        <limit lower="-0.349" upper="0.349"/>
        <dynamics damping="0.162" friction="0.0"/>
    </joint>
    <link name="link-branch-B20L2P19">
        <visual>
            <geometry>
                <cylinder length="0.64" radius="0.04"/>
            </geometry>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
            <material name="brown">
                <color rgba="0.1 0.2 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.64" radius="0.04"/>
            </geometry>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="0.161"/>
            <inertia ixx="0.006" ixy="0" ixz="0" iyy="0.006" iyz="0" izz="0.0"/>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
        </inertial>
    </link>
<!-- Joint & Link: branch-B22L2P19 Branch Id:22 Level: 2, Child idx:1 )-->
<joint name="joint-branch-B19L1P0-to-branch-B22L2P19" type="fixed">
        <parent link="link-branch-B19L1P0"/>
        <child link="link-branch-B22L2P19"/>
        <origin xyz="0 0 0.79" rpy="1.047 0.0 0"/>
        <axis xyz="1 0 0"/>
        <limit lower="-0.349" upper="0.349"/>
        <dynamics damping="0.162" friction="0.0"/>
    </joint>
    <link name="link-branch-B22L2P19">
        <visual>
            <geometry>
                <cylinder length="0.64" radius="0.04"/>
            </geometry>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
            <material name="brown">
                <color rgba="0.1 0.2 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.64" radius="0.04"/>
            </geometry>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="0.161"/>
            <inertia ixx="0.006" ixy="0" ixz="0" iyy="0.006" iyz="0" izz="0.0"/>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
        </inertial>
    </link>
<!-- Joint & Link: branch-B24L2P19 Branch Id:24 Level: 2, Child idx:2 )-->
<joint name="joint-branch-B19L1P0-to-branch-B24L2P19" type="fixed">
        <parent link="link-branch-B19L1P0"/>
        <child link="link-branch-B24L2P19"/>
        <origin xyz="0 0 0.79" rpy="0.0 -1.047 0"/>
        <axis xyz="0 -1 0"/>
        <limit lower="-0.349" upper="0.349"/>
        <dynamics damping="0.162" friction="0.0"/>
    </joint>
    <link name="link-branch-B24L2P19">
        <visual>
            <geometry>
                <cylinder length="0.64" radius="0.04"/>
            </geometry>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
            <material name="brown">
                <color rgba="0.1 0.2 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.64" radius="0.04"/>
            </geometry>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="0.161"/>
            <inertia ixx="0.006" ixy="0" ixz="0" iyy="0.006" iyz="0" izz="0.0"/>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
        </inertial>
    </link>
<!-- Joint & Link: branch-B26L2P19 Branch Id:26 Level: 2, Child idx:3 )-->
<joint name="joint-branch-B19L1P0-to-branch-B26L2P19" type="fixed">
        <parent link="link-branch-B19L1P0"/>
        <child link="link-branch-B26L2P19"/>
        <origin xyz="0 0 0.79" rpy="0.0 1.047 0"/>
        <axis xyz="0 1 0"/>
        <limit lower="-0.349" upper="0.349"/>
        <dynamics damping="0.162" friction="0.0"/>
    </joint>
    <link name="link-branch-B26L2P19">
        <visual>
            <geometry>
                <cylinder length="0.64" radius="0.04"/>
            </geometry>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
            <material name="brown">
                <color rgba="0.1 0.2 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.64" radius="0.04"/>
            </geometry>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="0.161"/>
            <inertia ixx="0.006" ixy="0" ixz="0" iyy="0.006" iyz="0" izz="0.0"/>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
        </inertial>
    </link>
<!-- Joint & Link: branch-B29L2P28 Branch Id:29 Level: 2, Child idx:0 )-->
<joint name="joint-branch-B28L1P0-to-branch-B29L2P28" type="fixed">
        <parent link="link-branch-B28L1P0"/>
        <child link="link-branch-B29L2P28"/>
        <origin xyz="0 0 0.79" rpy="-1.047 0.0 0"/>
        <axis xyz="-1 0 0"/>
        <limit lower="-0.349" upper="0.349"/>
        <dynamics damping="0.162" friction="0.0"/>
    </joint>
    <link name="link-branch-B29L2P28">
        <visual>
            <geometry>
                <cylinder length="0.64" radius="0.04"/>
            </geometry>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
            <material name="brown">
                <color rgba="0.1 0.2 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.64" radius="0.04"/>
            </geometry>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="0.161"/>
            <inertia ixx="0.006" ixy="0" ixz="0" iyy="0.006" iyz="0" izz="0.0"/>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
        </inertial>
    </link>
<!-- Joint & Link: branch-B31L2P28 Branch Id:31 Level: 2, Child idx:1 )-->
<joint name="joint-branch-B28L1P0-to-branch-B31L2P28" type="fixed">
        <parent link="link-branch-B28L1P0"/>
        <child link="link-branch-B31L2P28"/>
        <origin xyz="0 0 0.79" rpy="1.047 0.0 0"/>
        <axis xyz="1 0 0"/>
        <limit lower="-0.349" upper="0.349"/>
        <dynamics damping="0.162" friction="0.0"/>
    </joint>
    <link name="link-branch-B31L2P28">
        <visual>
            <geometry>
                <cylinder length="0.64" radius="0.04"/>
            </geometry>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
            <material name="brown">
                <color rgba="0.1 0.2 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.64" radius="0.04"/>
            </geometry>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="0.161"/>
            <inertia ixx="0.006" ixy="0" ixz="0" iyy="0.006" iyz="0" izz="0.0"/>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
        </inertial>
    </link>
<!-- Joint & Link: branch-B33L2P28 Branch Id:33 Level: 2, Child idx:2 )-->
<joint name="joint-branch-B28L1P0-to-branch-B33L2P28" type="fixed">
        <parent link="link-branch-B28L1P0"/>
        <child link="link-branch-B33L2P28"/>
        <origin xyz="0 0 0.79" rpy="0.0 -1.047 0"/>
        <axis xyz="0 -1 0"/>
        <limit lower="-0.349" upper="0.349"/>
        <dynamics damping="0.162" friction="0.0"/>
    </joint>
    <link name="link-branch-B33L2P28">
        <visual>
            <geometry>
                <cylinder length="0.64" radius="0.04"/>
            </geometry>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
            <material name="brown">
                <color rgba="0.1 0.2 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.64" radius="0.04"/>
            </geometry>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="0.161"/>
            <inertia ixx="0.006" ixy="0" ixz="0" iyy="0.006" iyz="0" izz="0.0"/>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
        </inertial>
    </link>
<!-- Joint & Link: branch-B35L2P28 Branch Id:35 Level: 2, Child idx:3 )-->
<joint name="joint-branch-B28L1P0-to-branch-B35L2P28" type="revolute">
        <parent link="link-branch-B28L1P0"/>
        <child link="link-branch-B35L2P28"/>
        <origin xyz="0 0 0.79" rpy="0.0 1.047 0"/>
        <axis xyz="0 1 0"/>
            <limit lower="-0.5" upper="0.5"/>
<!--        <limit lower="-0.349" upper="0.349"/>-->
        <dynamics damping="0.162" friction="0.0"/>
    </joint>
    <link name="link-branch-B35L2P28">
        <visual>
            <geometry>
                <cylinder length="0.64" radius="0.04"/>
            </geometry>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
            <material name="red">
                <color rgba="1 0.2 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.64" radius="0.04"/>
            </geometry>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="0.161"/>
            <inertia ixx="0.006" ixy="0" ixz="0" iyy="0.006" iyz="0" izz="0.0"/>
            <origin xyz="0 0 0.32" rpy="0 0 0"/>
        </inertial>
    </link>
<!-- Joint & Link: branch-B3L3P2 Branch Id:3 Level: 3, Child idx:0 )-->
<joint name="joint-branch-B2L2P1-to-branch-B3L3P2" type="fixed">
        <parent link="link-branch-B2L2P1"/>
        <child link="link-branch-B3L3P2"/>
        <origin xyz="0 0 0.63" rpy="-1.047 0.0 0"/>
        <axis xyz="-1 0 0"/>
        <limit lower="-0.349" upper="0.349"/>
        <dynamics damping="0.001" friction="0.0"/>
    </joint>
    <link name="link-branch-B3L3P2">
        <visual>
            <geometry>
                <cylinder length="0.01" radius="0.028"/>
            </geometry>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
            <material name="green">
                <color rgba="0.1 1 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.01" radius="0.028"/>
            </geometry>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="0.001"/>
            <inertia ixx="0.0" ixy="0" ixz="0" iyy="0.0" iyz="0" izz="0.0"/>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
        </inertial>
    </link>
<!-- Joint & Link: branch-B5L3P4 Branch Id:5 Level: 3, Child idx:0 )-->
<joint name="joint-branch-B4L2P1-to-branch-B5L3P4" type="fixed">
        <parent link="link-branch-B4L2P1"/>
        <child link="link-branch-B5L3P4"/>
        <origin xyz="0 0 0.63" rpy="-1.047 0.0 0"/>
        <axis xyz="-1 0 0"/>
        <limit lower="-0.349" upper="0.349"/>
        <dynamics damping="0.001" friction="0.0"/>
    </joint>
    <link name="link-branch-B5L3P4">
        <visual>
            <geometry>
                <cylinder length="0.01" radius="0.028"/>
            </geometry>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
            <material name="green">
                <color rgba="0.1 1 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.01" radius="0.028"/>
            </geometry>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="0.001"/>
            <inertia ixx="0.0" ixy="0" ixz="0" iyy="0.0" iyz="0" izz="0.0"/>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
        </inertial>
    </link>
<!-- Joint & Link: branch-B7L3P6 Branch Id:7 Level: 3, Child idx:0 )-->
<joint name="joint-branch-B6L2P1-to-branch-B7L3P6" type="fixed">
        <parent link="link-branch-B6L2P1"/>
        <child link="link-branch-B7L3P6"/>
        <origin xyz="0 0 0.63" rpy="-1.047 0.0 0"/>
        <axis xyz="-1 0 0"/>
        <limit lower="-0.349" upper="0.349"/>
        <dynamics damping="0.001" friction="0.0"/>
    </joint>
    <link name="link-branch-B7L3P6">
        <visual>
            <geometry>
                <cylinder length="0.01" radius="0.028"/>
            </geometry>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
            <material name="green">
                <color rgba="0.1 1 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.01" radius="0.028"/>
            </geometry>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="0.001"/>
            <inertia ixx="0.0" ixy="0" ixz="0" iyy="0.0" iyz="0" izz="0.0"/>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
        </inertial>
    </link>
<!-- Joint & Link: branch-B9L3P8 Branch Id:9 Level: 3, Child idx:0 )-->
<joint name="joint-branch-B8L2P1-to-branch-B9L3P8" type="fixed">
        <parent link="link-branch-B8L2P1"/>
        <child link="link-branch-B9L3P8"/>
        <origin xyz="0 0 0.63" rpy="-1.047 0.0 0"/>
        <axis xyz="-1 0 0"/>
        <limit lower="-0.349" upper="0.349"/>
        <dynamics damping="0.001" friction="0.0"/>
    </joint>
    <link name="link-branch-B9L3P8">
        <visual>
            <geometry>
                <cylinder length="0.01" radius="0.028"/>
            </geometry>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
            <material name="green">
                <color rgba="0.1 1 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.01" radius="0.028"/>
            </geometry>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="0.001"/>
            <inertia ixx="0.0" ixy="0" ixz="0" iyy="0.0" iyz="0" izz="0.0"/>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
        </inertial>
    </link>
<!-- Joint & Link: branch-B12L3P11 Branch Id:12 Level: 3, Child idx:0 )-->
<joint name="joint-branch-B11L2P10-to-branch-B12L3P11" type="fixed">
        <parent link="link-branch-B11L2P10"/>
        <child link="link-branch-B12L3P11"/>
        <origin xyz="0 0 0.63" rpy="-1.047 0.0 0"/>
        <axis xyz="-1 0 0"/>
        <limit lower="-0.349" upper="0.349"/>
        <dynamics damping="0.001" friction="0.0"/>
    </joint>
    <link name="link-branch-B12L3P11">
        <visual>
            <geometry>
                <cylinder length="0.01" radius="0.028"/>
            </geometry>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
            <material name="green">
                <color rgba="0.1 1 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.01" radius="0.028"/>
            </geometry>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="0.001"/>
            <inertia ixx="0.0" ixy="0" ixz="0" iyy="0.0" iyz="0" izz="0.0"/>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
        </inertial>
    </link>
<!-- Joint & Link: branch-B14L3P13 Branch Id:14 Level: 3, Child idx:0 )-->
<joint name="joint-branch-B13L2P10-to-branch-B14L3P13" type="fixed">
        <parent link="link-branch-B13L2P10"/>
        <child link="link-branch-B14L3P13"/>
        <origin xyz="0 0 0.63" rpy="-1.047 0.0 0"/>
        <axis xyz="-1 0 0"/>
        <limit lower="-0.349" upper="0.349"/>
        <dynamics damping="0.001" friction="0.0"/>
    </joint>
    <link name="link-branch-B14L3P13">
        <visual>
            <geometry>
                <cylinder length="0.01" radius="0.028"/>
            </geometry>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
            <material name="green">
                <color rgba="0.1 1 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.01" radius="0.028"/>
            </geometry>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="0.001"/>
            <inertia ixx="0.0" ixy="0" ixz="0" iyy="0.0" iyz="0" izz="0.0"/>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
        </inertial>
    </link>
<!-- Joint & Link: branch-B16L3P15 Branch Id:16 Level: 3, Child idx:0 )-->
<joint name="joint-branch-B15L2P10-to-branch-B16L3P15" type="fixed">
        <parent link="link-branch-B15L2P10"/>
        <child link="link-branch-B16L3P15"/>
        <origin xyz="0 0 0.63" rpy="-1.047 0.0 0"/>
        <axis xyz="-1 0 0"/>
        <limit lower="-0.349" upper="0.349"/>
        <dynamics damping="0.001" friction="0.0"/>
    </joint>
    <link name="link-branch-B16L3P15">
        <visual>
            <geometry>
                <cylinder length="0.01" radius="0.028"/>
            </geometry>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
            <material name="green">
                <color rgba="0.1 1 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.01" radius="0.028"/>
            </geometry>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="0.001"/>
            <inertia ixx="0.0" ixy="0" ixz="0" iyy="0.0" iyz="0" izz="0.0"/>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
        </inertial>
    </link>
<!-- Joint & Link: branch-B18L3P17 Branch Id:18 Level: 3, Child idx:0 )-->
<joint name="joint-branch-B17L2P10-to-branch-B18L3P17" type="fixed">
        <parent link="link-branch-B17L2P10"/>
        <child link="link-branch-B18L3P17"/>
        <origin xyz="0 0 0.63" rpy="-1.047 0.0 0"/>
        <axis xyz="-1 0 0"/>
        <limit lower="-0.349" upper="0.349"/>
        <dynamics damping="0.001" friction="0.0"/>
    </joint>
    <link name="link-branch-B18L3P17">
        <visual>
            <geometry>
                <cylinder length="0.01" radius="0.028"/>
            </geometry>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
            <material name="green">
                <color rgba="0.1 1 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.01" radius="0.028"/>
            </geometry>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="0.001"/>
            <inertia ixx="0.0" ixy="0" ixz="0" iyy="0.0" iyz="0" izz="0.0"/>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
        </inertial>
    </link>
<!-- Joint & Link: branch-B21L3P20 Branch Id:21 Level: 3, Child idx:0 )-->
<joint name="joint-branch-B20L2P19-to-branch-B21L3P20" type="fixed">
        <parent link="link-branch-B20L2P19"/>
        <child link="link-branch-B21L3P20"/>
        <origin xyz="0 0 0.63" rpy="-1.047 0.0 0"/>
        <axis xyz="-1 0 0"/>
        <limit lower="-0.349" upper="0.349"/>
        <dynamics damping="0.001" friction="0.0"/>
    </joint>
    <link name="link-branch-B21L3P20">
        <visual>
            <geometry>
                <cylinder length="0.01" radius="0.028"/>
            </geometry>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
            <material name="green">
                <color rgba="0.1 1 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.01" radius="0.028"/>
            </geometry>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="0.001"/>
            <inertia ixx="0.0" ixy="0" ixz="0" iyy="0.0" iyz="0" izz="0.0"/>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
        </inertial>
    </link>
<!-- Joint & Link: branch-B23L3P22 Branch Id:23 Level: 3, Child idx:0 )-->
<joint name="joint-branch-B22L2P19-to-branch-B23L3P22" type="fixed">
        <parent link="link-branch-B22L2P19"/>
        <child link="link-branch-B23L3P22"/>
        <origin xyz="0 0 0.63" rpy="-1.047 0.0 0"/>
        <axis xyz="-1 0 0"/>
        <limit lower="-0.349" upper="0.349"/>
        <dynamics damping="0.001" friction="0.0"/>
    </joint>
    <link name="link-branch-B23L3P22">
        <visual>
            <geometry>
                <cylinder length="0.01" radius="0.028"/>
            </geometry>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
            <material name="green">
                <color rgba="0.1 1 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.01" radius="0.028"/>
            </geometry>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="0.001"/>
            <inertia ixx="0.0" ixy="0" ixz="0" iyy="0.0" iyz="0" izz="0.0"/>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
        </inertial>
    </link>
<!-- Joint & Link: branch-B25L3P24 Branch Id:25 Level: 3, Child idx:0 )-->
<joint name="joint-branch-B24L2P19-to-branch-B25L3P24" type="fixed">
        <parent link="link-branch-B24L2P19"/>
        <child link="link-branch-B25L3P24"/>
        <origin xyz="0 0 0.63" rpy="-1.047 0.0 0"/>
        <axis xyz="-1 0 0"/>
        <limit lower="-0.349" upper="0.349"/>
        <dynamics damping="0.001" friction="0.0"/>
    </joint>
    <link name="link-branch-B25L3P24">
        <visual>
            <geometry>
                <cylinder length="0.01" radius="0.028"/>
            </geometry>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
            <material name="green">
                <color rgba="0.1 1 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.01" radius="0.028"/>
            </geometry>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="0.001"/>
            <inertia ixx="0.0" ixy="0" ixz="0" iyy="0.0" iyz="0" izz="0.0"/>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
        </inertial>
    </link>
<!-- Joint & Link: branch-B27L3P26 Branch Id:27 Level: 3, Child idx:0 )-->
<joint name="joint-branch-B26L2P19-to-branch-B27L3P26" type="fixed">
        <parent link="link-branch-B26L2P19"/>
        <child link="link-branch-B27L3P26"/>
        <origin xyz="0 0 0.63" rpy="-1.047 0.0 0"/>
        <axis xyz="-1 0 0"/>
        <limit lower="-0.349" upper="0.349"/>
        <dynamics damping="0.001" friction="0.0"/>
    </joint>
    <link name="link-branch-B27L3P26">
        <visual>
            <geometry>
                <cylinder length="0.01" radius="0.028"/>
            </geometry>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
            <material name="green">
                <color rgba="0.1 1 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.01" radius="0.028"/>
            </geometry>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="0.001"/>
            <inertia ixx="0.0" ixy="0" ixz="0" iyy="0.0" iyz="0" izz="0.0"/>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
        </inertial>
    </link>
<!-- Joint & Link: branch-B30L3P29 Branch Id:30 Level: 3, Child idx:0 )-->
<joint name="joint-branch-B29L2P28-to-branch-B30L3P29" type="fixed">
        <parent link="link-branch-B29L2P28"/>
        <child link="link-branch-B30L3P29"/>
        <origin xyz="0 0 0.63" rpy="-1.047 0.0 0"/>
        <axis xyz="-1 0 0"/>
        <limit lower="-0.349" upper="0.349"/>
        <dynamics damping="0.001" friction="0.0"/>
    </joint>
    <link name="link-branch-B30L3P29">
        <visual>
            <geometry>
                <cylinder length="0.01" radius="0.028"/>
            </geometry>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
            <material name="green">
                <color rgba="0.1 1 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.01" radius="0.028"/>
            </geometry>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="0.001"/>
            <inertia ixx="0.0" ixy="0" ixz="0" iyy="0.0" iyz="0" izz="0.0"/>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
        </inertial>
    </link>
<!-- Joint & Link: branch-B32L3P31 Branch Id:32 Level: 3, Child idx:0 )-->
<joint name="joint-branch-B31L2P28-to-branch-B32L3P31" type="fixed">
        <parent link="link-branch-B31L2P28"/>
        <child link="link-branch-B32L3P31"/>
        <origin xyz="0 0 0.63" rpy="-1.047 0.0 0"/>
        <axis xyz="-1 0 0"/>
        <limit lower="-0.349" upper="0.349"/>
        <dynamics damping="0.001" friction="0.0"/>
    </joint>
    <link name="link-branch-B32L3P31">
        <visual>
            <geometry>
                <cylinder length="0.01" radius="0.028"/>
            </geometry>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
            <material name="green">
                <color rgba="0.1 1 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.01" radius="0.028"/>
            </geometry>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="0.001"/>
            <inertia ixx="0.0" ixy="0" ixz="0" iyy="0.0" iyz="0" izz="0.0"/>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
        </inertial>
    </link>
<!-- Joint & Link: branch-B34L3P33 Branch Id:34 Level: 3, Child idx:0 )-->
<joint name="joint-branch-B33L2P28-to-branch-B34L3P33" type="fixed">
        <parent link="link-branch-B33L2P28"/>
        <child link="link-branch-B34L3P33"/>
        <origin xyz="0 0 0.63" rpy="-1.047 0.0 0"/>
        <axis xyz="-1 0 0"/>
        <limit lower="-0.349" upper="0.349"/>
        <dynamics damping="0.001" friction="0.0"/>
    </joint>
    <link name="link-branch-B34L3P33">
        <visual>
            <geometry>
                <cylinder length="0.01" radius="0.028"/>
            </geometry>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
            <material name="green">
                <color rgba="0.1 1 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.01" radius="0.028"/>
            </geometry>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="0.001"/>
            <inertia ixx="0.0" ixy="0" ixz="0" iyy="0.0" iyz="0" izz="0.0"/>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
        </inertial>
    </link>
<!-- Joint & Link: branch-B36L3P35 Branch Id:36 Level: 3, Child idx:0 )-->
<joint name="joint-branch-B35L2P28-to-branch-B36L3P35" type="revolute">
        <parent link="link-branch-B35L2P28"/>
        <child link="link-branch-B36L3P35"/>
        <origin xyz="0 0 0.63" rpy="-1.047 0.0 0"/>
        <axis xyz="-1 0 0"/>
        <limit lower="-0.349" upper="0.349"/>
        <dynamics damping="0.001" friction="0.0"/>
    </joint>
    <link name="link-branch-B36L3P35">
        <visual>
            <geometry>
                <cylinder length="0.01" radius="0.028"/>
            </geometry>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
            <material name="green">
                <color rgba="0.1 1 0.2 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.01" radius="0.028"/>
            </geometry>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="0.001"/>
            <inertia ixx="0.0" ixy="0" ixz="0" iyy="0.0" iyz="0" izz="0.0"/>
            <origin xyz="0 0 0.005" rpy="0 0 0"/>
        </inertial>
    </link>
<!--support_mass_ratio={"joint-trunk-B0L0-to-branch-B1L1P0": 1056.0,
 "joint-trunk-B0L0-to-branch-B10L1P0": 1056.0,
 "joint-trunk-B0L0-to-branch-B19L1P0": 1056.0,
 "joint-trunk-B0L0-to-branch-B28L1P0": 1056.0,
 "joint-branch-B1L1P0-to-branch-B2L2P1": 162.0,
 "joint-branch-B1L1P0-to-branch-B4L2P1": 162.0,
 "joint-branch-B1L1P0-to-branch-B6L2P1": 162.0,
 "joint-branch-B1L1P0-to-branch-B8L2P1": 162.0,
 "joint-branch-B10L1P0-to-branch-B11L2P10": 162.0,
 "joint-branch-B10L1P0-to-branch-B13L2P10": 162.0,
 "joint-branch-B10L1P0-to-branch-B15L2P10": 162.0,
 "joint-branch-B10L1P0-to-branch-B17L2P10": 162.0,
 "joint-branch-B19L1P0-to-branch-B20L2P19": 162.0,
 "joint-branch-B19L1P0-to-branch-B22L2P19": 162.0,
 "joint-branch-B19L1P0-to-branch-B24L2P19": 162.0,
 "joint-branch-B19L1P0-to-branch-B26L2P19": 162.0,
 "joint-branch-B28L1P0-to-branch-B29L2P28": 162.0,
 "joint-branch-B28L1P0-to-branch-B31L2P28": 162.0,
 "joint-branch-B28L1P0-to-branch-B33L2P28": 162.0,
 "joint-branch-B28L1P0-to-branch-B35L2P28": 162.0,
 "joint-branch-B2L2P1-to-branch-B3L3P2": 1.0,
 "joint-branch-B4L2P1-to-branch-B5L3P4": 1.0,
 "joint-branch-B6L2P1-to-branch-B7L3P6": 1.0,
 "joint-branch-B8L2P1-to-branch-B9L3P8": 1.0,
 "joint-branch-B11L2P10-to-branch-B12L3P11": 1.0,
 "joint-branch-B13L2P10-to-branch-B14L3P13": 1.0,
 "joint-branch-B15L2P10-to-branch-B16L3P15": 1.0,
 "joint-branch-B17L2P10-to-branch-B18L3P17": 1.0,
 "joint-branch-B20L2P19-to-branch-B21L3P20": 1.0,
 "joint-branch-B22L2P19-to-branch-B23L3P22": 1.0,
 "joint-branch-B24L2P19-to-branch-B25L3P24": 1.0,
 "joint-branch-B26L2P19-to-branch-B27L3P26": 1.0,
 "joint-branch-B29L2P28-to-branch-B30L3P29": 1.0,
 "joint-branch-B31L2P28-to-branch-B32L3P31": 1.0,
 "joint-branch-B33L2P28-to-branch-B34L3P33": 1.0,
 "joint-branch-B35L2P28-to-branch-B36L3P35": 1.0}-->
<!--min_leaf_force=0.011-->
</robot>